/* Base styles for the table */
table {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Ping, sans-serif;
  border: 1px solid #ddd;
}

thead {
  background-color: #4caf50;
  color: white;
}

th,
td {
  text-align: left;
  padding: 10px 15px;
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

/* Responsive design */
@media screen and (max-width: 600px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    width: 100%;
  }

  th,
  td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }

  th,
  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 45%;
    padding-left: 10px;
    font-weight: bold;
    text-align: left;
  }

  tr {
    margin-bottom: 15px;
  }
}
